<%- include('header.ejs') %> 

<div class="container my-5 py-5">
    <div class="col-md-5 m-auto text-center">
        <form action="/handleSignin" method="POST">
            <% if (exists.length!=0) { %>
             <div class="alert alert-danger text-center">
                 Email doesn't exist
             </div>
            <% } %>   
            <div class="form-group">
                <input value="<%= oldInputs.length==0?'':oldInputs[0].email %>"placeholder="Enter email" name="email" type="email" class="form-control" />
            </div>
            <div class="form-group">
                <input placeholder="confirm Password" name="password" type="password" class="form-control" />
            </div>
            <% if (wpass.length!=0) { %>
             <div class="alert alert-danger text-center">
                 Incorrect password
             </div>
            <% } %>
            <button type="submit" class="btn btn-info w-100">SignIn</button>
        </form>
    </div>
</div>
<%- include('footer.ejs') %> 
